In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("stock_data.csv",na_values={
    "eps" :["not available","n.a."],
    "revenue":["not availabe", "n.a.",-1],
    "owner" :["not availabe", "n.a.",-1],
    "price" : ["n.a."]
})

In [7]:
df.head()

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0           n.a.
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [29]:
df.to_csv("new.csv",index= False)

In [32]:
df.to_csv("experiment.csv",index=False,columns= ["owner","price"])