In [2]:
import pandas as pd
df = pd.read_csv("aapl.csv",parse_dates=["Date"])
df

C:\Users\Dell\AppData\Local\Temp\ipykernel_1340\1499226455.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("aapl.csv",parse_dates=["Date"])

          Date    Open    High     Low   Close    Volume
0   2017-07-07  142.90  144.75  142.90  144.18  19201712
1   2017-07-06  143.02  143.50  142.41  142.73  24128782
2   2017-07-05  143.69  144.79  142.72  144.09  21569557
3   2017-07-03  144.88  145.30  143.10  143.50  14277848
4   2017-06-30  144.45  144.96  143.78  144.02  23024107
..         ...     ...     ...     ...     ...       ...
246 2016-07-15   98.92   99.30   98.50   98.78  30136990
247 2016-07-14   97.39   98.99   97.32   98.79  38918997
248 2016-07-13   97.41   97.67   96.84   96.87  25892171
249 2016-07-12   97.17   97.70   97.12   97.42  24167463
250 2016-07-11   96.75   97.65   96.73   96.98  23794945

[251 rows x 6 columns]

In [7]:
rng= pd.date_range(start="2016-07-1",end="2017-07-1",freq="B")
rng

DatetimeIndex(['2016-07-01', '2016-07-04', '2016-07-05', '2016-07-06',
               '2016-07-07', '2016-07-08', '2016-07-11', '2016-07-12',
               '2016-07-13', '2016-07-14',
               ...
               '2017-06-19', '2017-06-20', '2017-06-21', '2017-06-22',
               '2017-06-23', '2017-06-26', '2017-06-27', '2017-06-28',
               '2017-06-29', '2017-06-30'],
              dtype='datetime64[ns]', length=261, freq='B')

In [8]:
df.set_index(rng,inplace=True)

ValueError: Length mismatch: Expected 251 rows, received array of length 261