In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")

In [2]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
#dictionary can be converted into data using pd.DataFrame

In [12]:
rows,columns =  df.shape #(rows, column ) means  a tuple

In [13]:
columns

4

In [15]:
df.head(2)#intial few rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [16]:
df.tail(2)#last few rows

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [17]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [20]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [23]:
df["event"]

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [24]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [26]:
type(df["event"])#column are of type series

pandas.core.series.Series

In [30]:
df[["event","day","temperature"]]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [31]:
df.temperature.max()

35

In [32]:
df.temperature.mean()

30.333333333333332

In [33]:
df.temperature.min()

24

In [34]:
df.temperature.std()

3.8297084310253524

In [36]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [38]:
df[df.temperature<36]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [43]:
df[["day","temperature"]][df.temperature==df["temperature"].max()]

        day  temperature
1  1/2/2017           35

In [44]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [59]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [64]:
df.set_index("day",inplace=True)

In [65]:
df.loc["1/4/2017"]

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [62]:
df.reset_index(inplace= True)

In [63]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [66]:
df.set_index("event",inplace= True)

In [67]:
df

       temperature  windspeed
event
Rain            32          6
Sunny           35          7
Snow            28          2
Snow            24          7
Rain            32          4
Sunny           31          2

In [69]:
df.loc["Snow"]

       temperature  windspeed
event
Snow            28          2
Snow            24          7

In [70]:
df.reset_index(inplace= True)

In [71]:
df

   event  temperature  windspeed
0   Rain           32          6
1  Sunny           35          7
2   Snow           28          2
3   Snow           24          7
4   Rain           32          4
5  Sunny           31          2

In [72]:
df.set_index("temperature",inplace=True)

In [74]:
df.reset_index(inplace = True)

In [ ]:
df.read_excel("weather.xlsx")